{% extends 'base.html' %}
{% block title %}blogIT | SignUp{% endblock title %}
{% block lsbtn %}<a href="{% url 'login' %}" class="btn btn-outline-info rounded-pill">Login</a>{% endblock lsbtn %}
{% block bgimg %}
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
{% endblock bgimg %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3 col-md-3 com-sm-12"></div>
        <div class="col-lg-6 col-md-6 com-sm-12">
            <div class="card border-info card-shad">
                <div class="card-body">
                    <center>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="http://127.0.0.1:7777/accounts/login/" class="btn btn-block btn-lg btn-info">Login</a>
                            <a href="http://127.0.0.1:7777/accounts/signup/" class="btn btn-block btn-lg btn-outline-info">Sign Up</a>
                        </div>
                    </center>
                </div>
                <div class="card-body">
                    <form class="text-dark mx-2 my-2" action="/accounts/signup/" method="POST">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" name="uname" placeholder="name@example.com" required>
                            <label for="floatingInput">User Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" required>
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword1" name="pass1" placeholder="Password" required>
                            <label for="floatingPassword1">Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword2" name="pass2" placeholder="Confirm Password" required>
                            <label for="floatingPassword2">Confirm Password</label>
                        </div>
                        <center><input type="submit" value="SignUp" class="btn rounded-pill btn-outline-success px-5 py-2"></center>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 com-sm-12"></div>
    </div>
    
</div>

{% endblock content %}
