{% extends 'base.html' %}
{% block title %}blogIT | ERROR{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card card-shad border-danger mt-5">
                <div class="card-body">
                    <center><h3 class="h3">{{err}}</h3></center>
                </div>
                <div class="card-body">
                    <center><a href="/accounts/login" class="btn rounded-pill btn-outline-success btn-lg mb-2">Try Again</a></center>
                    <center><a href="/accounts/signup" class="btn rounded-pill btn-outline-success btn-lg mb-2">Create New Account</a></center>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12"></div>
    </div>
</div>

{% endblock content %}
